note: movie rental exercise at bottom

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [8]:
type('0')

str

In [9]:

type('True')

str

In [10]:

type(True)

bool

In [11]:
type(0)

int

In [12]:
type([{}])

list

In [13]:
type({'a':[]})

dict

# questions:
A term or phrase typed into a search box?
    
    string
    
If a user is logged in?
    
    boolean

A discount amount to apply to a user's shopping cart?
    
    int or float

Whether or not a coupon code is valid?
    
    boolean

An email address typed into a registration form?
    
    str

The price of a product?
    
    float

A Matrix?
    
    list

The email addresses collected from a registration form?
    
    list or dict

Information about applicants to Codeup's data science program?
    
    intergers and strings; ideally in a dict

In [14]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [15]:
6%4

2

In [16]:
type(6%4)

int

In [17]:
type(type(6%4))

type

In [18]:
'3+4 is' + 3+4

TypeError: can only concatenate str (not "int") to str

In [19]:
0<0

False

In [20]:
'False' == False

False

In [21]:
True == 'True'

False

In [22]:
5 >= -5

True

In [23]:
True or "42"

True

In [24]:
6 % 5

1

In [25]:
5 < 4 and 1 == 1

False

In [26]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [27]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (3850088429.py, line 1)

In [28]:
6 % 3 == 0

True

In [29]:
5 % 2 != 0

True

In [30]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [31]:
[1] + [2]

[1, 2]

In [32]:
[1] * 2

[1, 1]

In [33]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
[] + [] == []

True

In [35]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per day is 3 dollars, how much will you have to pay?

In [57]:
movies = dict(little_mermaid= 3,
brother_bear= 5,
hercules= 1)
rental_rate = 3

(rental_rate * movies['little_mermaid'])+(rental_rate * movies['brother_bear'])+(rental_rate * movies['hercules'])

27

Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [64]:
contracts = dict(google = 400, amazon = 380, facebook = 350)
weekly_pay = (10 * contracts['google'])+(10 * contracts['amazon'])+(10 * contracts['facebook'])

11300

A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [78]:
class_full = False
class_not_full = True

class_max = True

sched_full = False
sched_not_full = True
enroll= class_not_full and sched_not_full
enroll

True

A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [75]:
offer_thresh_met = True
offer_exp = False
offer_not_exp = True
member = True
eligible = offer_not_exp and (offer_thresh_met or member)

Continue working in your data_types_and_variables.py file. Use the following code to follow the instructions below:

In [79]:
my_username = 'fullspec'
my_password = 'blackflagbat'

check_1 = len(my_password) >= 5
check_2 = len(my_username) <= 20
check_3 = my_password != my_username

check_1

True